@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}


@model List<Book>

@using System.Security.Claims




@{
    ViewData["Title"] = "Books Borrowed by User";
}

<h2>Books Borrowed by User</h2>
@if(Model.Count==0){
        <p>No books have been borrowed by this user.</p>

}else{
    <div class="trial-container">
        <div class="row row-cols-4 g-4 flex-wrap">
            @foreach (var book in Model)
            {
                <div class="col-md-4">
                    <div class="card text-center bg-dark text-white hoverable-cards" style="width:17rem; height:30rem;">
                        <img class="card-img-top" src="/Images/@book.Image" alt="Category Image" style="width:17rem; height:30rem;">
                        <div class="card-body card-img-overlay d-grid align-content-lg-center align-items-center hoverable-cards " style="width:17rem; height:30rem;">
                            <h4 class="card-title mb-3">@book.Name</h4>
                            <h4 class="card-title mt-3 mb-3">Written By: @book.Author</h4>
                            <div class="btm">
                            <a href="/Book/details/@book.Id" class="btn btn-success ">Check Details</a>
                            <form asp-controller="Book" asp-action="Return" method="post">
                                <input type="hidden" name="BookID" value="@book.Id" />
                                <input type="hidden" name="UserID" value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" />
                                <button type="submit" class="btn btn-success ">Return Book</button>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}









<style>

    .fa-chevron-right, .fa-chevron-left {
        font-size: 3em;
        color: #59ab6e;
    }

    .grad {
        background: linear-gradient(to right, #59ab6e,darkgreen);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .carousel-indicators li {
        background-color: #59ab6e !important;
    }

    .hoverable-cards.card-img-overlay {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }


    .hoverable-cards.card:hover .card-img-overlay {
        opacity: 0.9;
    }

    .hoverable-cards.card-body {
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 10px;
    }

    .hero-section div img {
        opacity: 0.3;
    }

    .trial-container {
        width: 80%;
        margin: 0 auto;
    }

    .hoverable-cards.card-img-overlay {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .hoverable-cards.card:hover .card-img-overlay {
        opacity: 0.9;
    }

    .hoverable-cards.card-body {
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 10px;
    }
    .btm{
            display: flex;
    justify-content: space-between;
    }
</style>
